{% extends "base.html" %}



{% block content %}
    <div class="mm" style="margin: 0 auto; max-width: 600px; padding: 20px;">
        <p style="color: brown; text-align: center">
        Lizou Commodity offers tailored consulting services to help businesses navigate their raw
            material transactions with ease. From selecting suppliers to managing logistics, transportation,
            and regulatory compliance, we support you at every stage. Whether you're importing or exporting, our
            expertise ensures streamlined, secure operations, reducing costs and mitigating risks. Count on our experience
            to confidently manage your international projects and achieve success.
        </p>
    <!--<a href="/products/">Voir nos produits</a>-->
    </div>
    <!-- Calendly inline widget begin -->
 <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/lizou557/30min" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
{% endblock %}
