{% extends 'base.html' %}

{% block title %}Accueil, Produits, et Rendez-vous{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="mm" style="text-align: center; margin: 0 auto; max-width: 600px;">
    <h2 style="font-weight: bold; font-family: 'Arial', sans-serif;">WE EXPORT AGRICULTURAL PRODUCTS FROM AFRICA TO ALL OVER THE WORLD</h2>
    <p>
        With our extensive experience in global trade, we deliver high-quality food and agricultural products at the most competitive prices to every qualified buyer. We prioritize safe and reliable transaction processes, ensuring our clients can secure long-term contracts that meet their required quantities and pricing.
    </p>
    <!--<a href="/products/">Voir nos produits</a>-->
</div>



<div class="mm" style="text-align: center; margin: 0 auto; max-width: 600px;">
    <h1>OUR PRODUCTS</h1>
</div>



{% for product in products %}

<div class="product">
        <!-- Nom du produit au-dessus de l'image -->
    <div class="title" style="text-align: center; margin-bottom: 20px;">
        <h3 class="text-uppercase fw-bold">{{ product.name }}</h3>
    </div>
    <div class="image" style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-height: 500px; width: auto; object-fit: contain; border-radius: 10px;">
    </div>

</div>
{% endfor %}

<div class="calendly-inline-widget" data-url="https://calendly.com/davidbotcholi2003/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
{% endblock %}

{% block js %}
{% endblock %}
